@{
    ViewBag.Title = "Home Page";
}

<main>
    <p>number of records by designation name @Html.ActionLink("Query1", "Query1")</p>
    <p>display First Name, Middle Name, Last Name & Designation name @Html.ActionLink("Query2", "Query2")</p>
    <p>designation names that have more than 1 employee @Html.ActionLink("Query3", "Query3")</p>
    <p>query to find the employee having maximum salary @Html.ActionLink("Query4", "Query4")</p>
    <p>Create view of database @Html.ActionLink("Query5", "CreateView")</p>
    <p>SP to create designation @Html.ActionLink("Query6", "CreateDesignation")</p>
    @*<p> @Html.ActionLink("Query2", "Query2")</p>*@
    @*<p> @Html.ActionLink("Query2", "Query2")</p>*@
    @*<p> @Html.ActionLink("Query2", "Query2")</p>*@
    @*<p> @Html.ActionLink("Query2", "Query2")</p>*@
</main>