@model IEnumerable<Task2.Models.Employee1Task2>

@{
    ViewBag.Title = "Index";
}

<h2>List of Employees</h2>

<p>
    click here to @Html.ActionLink("Create New", "InsertEmployee")
</p>
@*Write an SQL query to find the total amount of salaries*@
<p>Total Salary @Html.ActionLink("Query1", "Query1")</p>

@*Write an SQL query to find all employees having DOB less than 01-01-2000*@
<p>employees having DOB less than 01-01-2000 @Html.ActionLink("Query2", "Query2")</p>

@*Write an SQL query to count employees having Middle Name NULL*@
<p>count employees having Middle Name NULL @Html.ActionLink("Query3", "Query3")</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
        </tr>
    }

</table>
